#confirmacao_sucesso{
    background-color: rgba(200, 200, 200, 0.8);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9;
    margin: 0px;
    padding: 0px;
    display: none;   
}
#img_xis{
    left: 60%;
    position: relative;
    width: 3%;
    top: 50px;
    z-index: 10;
}
#img_sucesso{
    position: relative;
    left: 35%;
    width: 15%;
    top: 100px;
}
#msg-texto{
    color: white;
    z-index: 10;
    position: relative;
    font-weight: 700;
    left: 28%;
    font-size: 3vw;
    top: 120px;

}

