.borda-container{
    border: solid 1px darkgray;
}

.borda-resumo-compra{
    border-bottom:solid 1px darkgray;

}

.borda-compra-itens{

    border-bottom:solid 1px darkgray;
      
}


.resumo-itens-final h5{
    font-size:16px;
    font-weight:700 ;
}

.scroll-bar{
   height: 300px;
}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}   
    
.scrollbar-success::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
}

.scrollbar-success::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #77D353;
}

.scrollbar-success {
    scrollbar-color: #77D353 #F5F5F5;
}





    
   