.borda-teste{
    border: solid 1px darkgrey;
}
.pagamento-div{
    padding: 20px;   
}
.pagamento-div h5{
    font-weight: 700;
}
.pagamento-div h6{
    font-weight: 700;
}
.pagamento-div input{
    height: 35px;
    border-radius: 4px;
    border: solid 1px darkgrey;
}
.pagamento-div select{
    height: 35px;
    border-radius: 4px;
    border: solid 1px darkgrey;
    background-color: white;
}
#img-bandeiras{
    width: 50%;
}


