ul,li{
    list-style: none;
    padding: 0px;
    border: 0px;
}
.ul-width{
    width:100%;
}
#carrinho{
    display: flex;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Add vertical scrollbar */
    width: 80%;
    height: 300px;
    background-color:  rgba(211, 207, 207, 0.3) !important;
}
.tamanho-carrinho{
    width: 100% !important;
    height: 84px;
}
#imagem-carrinho{
    margin-top: 4px;
    width: 68px;
    height: 77px;
}

.tamanho-titulo{
    font-size: 18px;
}

.img-cart{
    width: 68px;
    height: 91px;
}

.valor{
    font-weight: bold;
}

.btn-qtd{
    text-align: center;
    border: none;
    font-size: 28px;
    font-weight: bold;
    width: 35px;
    height: 35px;
    padding: 0px;
    background:  #ffffff;

}

.display-qtd{
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

#qtd{
    border: solid 2px #77D353;
}

.entrada-qtd{
    width: 25px;
    height: 25px;
    padding: 0px;
    border: none;
    text-align: center;
}
.entrada-qtd:focus{
    border: none !important;
}

.btn-excluir{
    border:none;
}

#img-excluir{
    width: 35px;
    height: 35px;
}

.btn-comprar{
    border:none;
    background-color: #77D353 !important;
    color: white !important;
    width: 158px;
    height: 48px;
    margin-right: 7%;
    border-radius: 10px 10px;
}

.modo-coluna{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-flow: column wrap;
    margin-left: 20px !important;
}


@media screen and (max-width: 491px){
    #imagem-carrinho{
        display: none !important;
    }
    .valor{
        font-size: 14px;
        font-weight: normal;
    }
    #img-excluir{
        width: 20px;
        height: 20px;
    }
    
    .btn-exclui{
        margin-top: 18px !important;
    }
    
    .btn-qtd{
        margin-top: 18px !important;
        font-size: 16px;
        font-weight: bold;
        width: 22px;
        height: 22px;    
    }
    .entrada-qtd{
        
        width: 18px;
        height: 18px;
        padding: 0px;
        border: none;
        text-align: center;
    }
    
    .display-qtd{
        margin-top: 22px !important;
    }
    #qtd-item-carrinho{
        display: flex;
        align-items: flex-start;
    }

    .qtd-item{
        font-size: 12px !important;
    }
    #descricao-qtd{
        display: none;
    }
}

@media screen and (max-width: 429px){
    .tamanho-titulo{
        font-size: 12px;
    }
    .valor{
        font-size: 10px;
        font-weight: normal;
    }
}

@media screen and (max-width: 340px){
    
}

@media screen and (max-width: 283px){
    #valor{
        font-size: 26px !important;
    }
}