@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
*{

 font-family: 'Lato', sans-serif;  
 font-size: 16px;
 color: #47525e;

}

.borda-flex{

    padding-right:13%;
    
}

#logo-img{

    width: 100%;
    height: 100%;
 
 }

.borda-flex-tamanho{
  
    width: 40%;
      
   
}

.espaco-descricao{
    height: 100px;
    width: 180px;
}


.img-size{
    width: 150px !important;
    height: 150px !important;
}

.tamanhoInput{

    width: 20px;
  
}

.bt-header-pesquisa{

    background-color: #969faa;

}

.bt-header{

    border: none;
    background: none;

}

.img-icones{
    width: 30px;
    height: 30px;
}

.div-carrinho{

    position: relative;
    right: 13%;

}

.div-quantidade{

    position: relative;
    top: -35px;
    left: 13%;
    border-radius:60%;
    background-color:#77d353;
    width: 21px;
    height: 21px;
    text-align: center;
    color: white;
}

.span-drop-down{
    color: #c81e21; 
    font-weight: bold;
}


.div-fonte{

    position: relative;
    top: -30px;
    left: 20%;   

}

.fonte-carrinho-total{

    position: relative;
    top: -26px;
    left: 10%;
    white-space: nowrap; 
    
        
}


.fonte-forte{
    font-weight: 700;

}


.menu{

    width: 100%;
    padding: 0px;
    margin-left: -1%;
 
 }

 .menu li{

    margin-left: 10%;
    
 
 }

 #departamentos{
   
    margin-left: 0;

    
 }


 #departamentos:hover #categoria{
   
    color: white !important;
    
    
 }


 #departamentos a{

    white-space: nowrap!important; 

}


 #departamentos a:hover{
   
    background-color: #c81e21;
    border-radius: 20px;

 }

 #categoria {

    padding: 10px 20px 10px 10px;
 }

 .item-categoria {

    background-color: #c81e21;
    color: #ffffff;
 }


.nav-link{
    color: #47525e !important;
}

.fundo-ham{

    background-color: #c81e21;
    width: 35px;
    height: 35px;

}

.fundo-ham::before{

    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    position: absolute;
    width: 35px;
    height: 35px;
}

#categoria{
    
    font-size: 20px !important;
   
   
}

.item-categoria:hover {
    
    background-color: #ffffff!important;
    color: #000000 !important;
}


.itens-menu-show{

    display: none;
 
 }
   
 .itens-menu a{

    
    font-size: 20px;
 
 }

.itens-menu a:hover{

    background-color: #c81e21;
    color: white!important;
    border-radius: 20px;
    
 
 }
 .meu-jubo{

    margin-top:100px;   
    width: 100%;
    
    background-color: rgba(211, 208, 208, 0.3);
    height: 100px;
    text-align: center;
 }
 
.btn-comprar-a{
    border:none;
    background-color: #77D353 !important;
    color: white !important;
    width: 135px;
    padding: 10px;
    height: 25px !important;
    position: relative !important;
    top: 15px !important;
    
    border-radius: 10px 10px;
}

 .btn-comprar{
    border:none;
    background-color: #77D353 !important;
    color: white !important;
    width: 135px;
    left: 3.5%;
    height: 25px !important;
    position: relative !important;
    top: 15px !important;
    
    border-radius: 10px 10px;
}
.h3-align-text{
    text-align:center;
}
 .barra-pesquisa-responsiva{

    display: none;
 
 }
 

.tela-pequena{

    display: none;
    
}

/* ------FOOTER----- */
.footer-container {
   
    margin-bottom: 0px!;
    background-color: rgba(211, 207, 207, 0.3);
    padding-left: 9%;
    
    
}


.titulo-footer {
    color: #c81e21;
    font-size: 22px;
    font-weight: bold;
}

.link-footer {
    color: #47525e;
}

.link-footer:hover {
    text-decoration: none;
}


/* Lista de produtos */
.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.all{
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.text{
    text-align: center;
}
.imagem{
    text-align: center;
}

/* Css Botoes */
#iconesBotao{
    background-color: #77D353;
    border-radius: 5px;
}
.containerBotoes{
    display: flex;
    width: 180px;
}
.menos, .mais{
    width: 40px;
    height: 30px;
    background-color: white;
    color: #47525E;
    padding: 0px 0px 0px 0px;
    margin: 0px 5px 0px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    border: transparent;
}
.menos:hover{
    background-color: #77D353;
    color: white;
}
.mais:hover{
    background-color: #77D353;
    color: white;
}
.quant{
    width: 40px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #77D353;
    color: #47525E;
    padding: 0px 0px 0px 0px;
    margin: 0px 5px 0px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: text;
}
.quant:hover{
    background-color: #77D353;
    color: white;
}
#cart-button{
    border-radius: 5px;
    padding: 0px 0px 0px 0px;
    margin-left: 2px;
    width: 33px;
}
/* Fim Css botoes */

/* Media Queries */
@media(max-width:900px){
    .item5, .item10{
        display: none;
    }
    .item15, .item20{
        display: none;
    }
}
@media(max-width:767px){
    .item4, .item8{
        display: none;
    }
    .item12, .item16{
        display: none;
    }
}
@media(max-width:520px){
    .item3, .item6 {
        display: none;
    }
    .item14, .item19{
        display: none;
    }

}
@media screen and (max-width: 767px) {
    
    .footer-textos{
        display:none;
    }

}
@media screen and (max-width: 360px) {
    

    .carrinho-tela-pequena{

        position: relative;
        right: 10%;

    }
  
    #logo-img{

        width: 80px;
        height: 55px;
        position: relative;
        right: 23%;


    }

    .cat{

        position: relative;
        right: 5%;

    }

}
@media screen and (max-width: 992px) {
    
    .tela-grande{
 
         display: none;

    }
    .tela-pequena{
        display: block;
    }

    #logo-img{
     
       width: 120px;
       height: 70px;

    }

   #categoria{

     display: none;

   }

   .itens-menu {

       display: none;

   }

   .itens-menu-show {

       display:block;
   }
   
   #barra-pesquisa{

       width: 100%;

   }

   .div-quantidade{

      left: 60% !important;

   }
  

}
