.container-alimentos{
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
}
.text-white{
    color: white !important;
    font-weight: bold;
}
.item{
    background-color:rgb(230, 230, 238);
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px 10px 0px;
}
/* propriedaes dos botoes */
.container-dos-botoes{
    display: flex;
}
.container-dos-botoes :hover{
    background-color: #77D353;
    color: white;
}
.menos, .quant, .mais{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid #77D353;
    width: 48px;
    height: 30px;
    margin: 0px 5px 0px 5px;
    border-radius: 5px;
    color: #47525E;
}
#cart{
    border-radius: 5px;
}
/* Fim propriedade dos botoes */