ul{
    list-style: none;
    padding: 0px;
}
.barra-vermelha {
    background-color: #c81e21 !important;

}
.texto-branco {
    color: white !important;
    font-weight: bold;
}
#titulo-item {
    font-weight: normal;
    display: block;
}

.pequenas-img{
    height: 68px;
    border-style: none;
    margin-left: 60%;
}
.pequenas-img:hover{
    border: solid 1px black;
}

.grande-img{
    height: 380px;
    border-style: none;
}

.preco{
    font-size: 28px;
    font-weight: bold;
}

.tamanho-titulo{
    font-size: 24px;
}


.qtde-carrinho{
    flex-direction: row;
}


.btn-qtde{
    border: none;
    font-weight: bold;
    font-size: 18px;
    width: 48px;
    height: 48px;
}

.btn-qtde:hover{
    border: solid 1px;
}

.display-qtde{
    text-align: center;
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

#cart-item{
    width: 40px;
    height: 40px;
    margin-left: -3px;
}

.btn-cart{
    background-color: #77D353;
    border: none;
    border-radius: 15%;
    width: 48px;
    height: 48px;
}

#descricao{
    word-wrap: break-word;
}

.div-btn-comprar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-comprar{
    border:none;
    background-color: #77D353 !important;
    color: white !important;
    width: 158px;
    height: 48px;
    margin-right: 7%;
    border-radius: 10px 10px;
}



@media screen and (max-width: 768px){
    .miniaturas-responsivo{
        display: none;
    }
    #imagem-grande-responsivo{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .item-barra-vermelha{
        display: none;
    }
    .diretorio{
        margin: 0px !important;
        text-align: center;
    }
}

@media screen and (max-width: 992px){
    #container-imagem{
        display: none !important;
    }
    .btn-comprar{
        margin: 0px;
    }   
}

@media screen and (max-width: 418px){
    #descricao{
        display: none !important;
    }
}