@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
*{

 font-family: 'Lato', sans-serif;  
 font-size: 16px;
 color: #47525e;

}

/*------ BARRA VERMELHA ------*/

.barra-vermelha{

    background-color:#C81E21;
    padding: 10px 10px 6px 10px;
    display: flex;
}

.dropdown-toggle{

    color: white;
}


.dropdown-toggle:hover{

    color: white;
}

.fonte-minha-conta {

    font-size: 20px;
    color: #ffffff!important;
}

.dropdown-menu-barra-vermelha{

    padding: 0;
    height: 150px;
}
.dropdown-item-barra-vermelha{

    
    background-color:#C81E21;
    color: white;
    font-size: 18px;
    height: 50px;
    padding-top: 6%;

}

.hover-item:hover {

    color: #47525e;

}

#titulo-meus-pedidos {

    font-size: 24px;
    color: white;
    font-weight: bold;
    padding-left: 3%;
    width: 100px;
}

.pesquisa-pedido{

    width: 40vw;
    margin-left: 0px;
}

.bt-pesquisa-pedido {

    background-color: #969faa;

}

#ola-cliente {

    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
    color: #C81E21;
}


@media screen and (min-width: 811px) {

    .barra-vermelha {
        justify-content: space-between;
    }

    .pedidos-tela-pequena {
        display: none;
    }

    .pedidos-tela-pequena-2 {
        display: none;
    }

    .tamanho-input-pedido {
        width: 300px;
        margin-left: auto;
        
    }
}

@media screen and (max-width: 810px) {
    
    .barra-vermelha {
        justify-content: flex-start;
    }

    .pedidos-tela-grande {

        display: none;
    }

    .pedidos-tela-pequena-2 {

        display: none;
    }

    .tamanho-input-pedido {
        width: 300px;
    }
}


@media screen and (max-width: 465px) {

    .tamanho-input-pedido {
        width: 100%;
        
    }

    .pedidos-tela-grande {
        display: none;
    }

    .pedidos-tela-pequena {
        display: none;
    }

    .pedidos-tela-pequena-2 {
        display: block;
    }
    
    #titulo-meus-pedidos {
        width: 200px;
        padding-left: none;
    }
}   


/* ------ITEM-HISTORICO------- */

.container-historico {

    margin-left: auto;
    margin-right: auto;
    
}

.item-historico {

    background-color: #47525e15;
    padding: 20px 10px 20px 10px;

}

.em-processamento {

    border-left: solid 5px orange;

}

#qtd-itens-pedido {

    text-align: right;

}

#total-compra-historico {

    text-align: right;
    font-weight: bold;
}

.entregue {

    border-left: solid 5px #77d353;

}

.cancelado {

    border-left: solid 5px #C81E21;
}

.linha-pedido {

    color: #969faa;
    width: 100%;

}


@media screen and (min-width: 768px) {

    .tela-p {
        display:none;
    }

    .tela-g {
        display: block;
    }

    .tela-p2 {
        display: none;
    }

    .container-historico {
        width: 800px;
    }

}

@media screen and (min-width: 350px) and (max-width: 767px) {

    .tela-p {
        display: block;
    }

    .tela-g {
        display: none;
    }

    .tela-p2 {
        display: none;
    }

    .titulos-pedido-pq {
        font-weight: bold;
    }

}


@media screen and (max-width: 349px) {

    .titulos-pedido-pq {
        font-weight: bold;
    }

    .tela-p2 {
        display: block;
    }

    .tela-g {
        display: none;
    }

    .tela-p {
        display: none;
    }

    
}

